<form action ="/events/new" method="POST">
    <input type="hidden" name="category" value="#{@category}">
    <input type="hidden" name="restaurant_id" value="#{@restaurant_id}">
    <input type="datetime-local" name="time" placeholder="time of event here">
    <input type="text" name="email" placeholder="email goes here">
    <input type="text" name="description" placeholder="description goes here">
    <input type="submit" value="#{restaurant.name}">
</form>
