<% @current_restaurants.each do |restaurant| %>
  <form action ="/events/new" method="GET">
    <input type="hidden" name="category" value="#{@category}">
    <input type="hidden" name="restaurant_id" value="#{restaurant.id}">
    <input type="submit" value="#{restaurant.name}">
  </form>
<% end %>
