
        <div id="new_event">
            <a id="create_event_button" href="/events/categories">Create Event</a>
        </div>
        <div class="upcoming_events">
          <h1 class="banner">Upcoming Events</h1>
          <%= erb :_event_list, :layout => false %>
        </div>
    
