
        <div class="events">
        <h1 class="banner">Upcoming Events</h1>
            <a id="create_event_button" href="/events/categories">Create Event</a>
        </div>
        <%= erb :_event_list, :layout => false%>
    
